{% extends "accounts/hi.html" %}
{% block content %}
<div class="home-content">
        <h2 style = "margin-left: 475px">Documents</h2>
        <div class="overview-boxes">

                        <table class="styled-table" style = "min-width: 900px;border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); padding: 5px 10px; overflow-x:auto;">
                            <tr style = "background-color: #fff">
                                <td style = "padding: 10px 30px;">Full Name</td>
                                <td>{{request.user.new.fname}} {{request.user.new.lname}}</td>

                            </tr>
                            <tr style = "background-color:#FFE19A">
                                <td style = "padding: 10px 30px;">Phone Number</td>
                                <td>{{request.user.new.mobile}}</td>

                            </tr>
                            <tr style = "background-color: #fff">
                                <td style = "padding: 10px 30px;">Email ID</td>
                                <td>{{request.user.new.email}}</td>

                            </tr>
                            <tr style = "background-color:#FFE19A">
                                <td style = "padding: 10px 30px;">Date of Birth</td>
                                <td>{{request.user.new.dob}}</td>

                            </tr>
                            <tr style = "background-color: #fff">
                                <td style = "padding: 10px 30px;">Gender</td>
                                <td>{{request.user.new.gender1}}</td>

                            </tr>
                            <tr style = "background-color:#FFE19A">
                                <td style = "padding: 10px 30px;">Registration</td>
                                <td>{{request.user.new.rnumber}}</td>

                            </tr>
                            <tr style = "background-color: #fff">
                                <td style = "padding: 10px 30px;">PAN Card Number</td>
                                <td>{{request.user.new.pann}}</td>

                            </tr >
                            <tr style = "background-color:#FFE19A">
                                <td style = "padding: 10px 30px;">Aadhar Card Number</td>
                                <td>{{request.user.new.aadharn}}</td>

                            </tr>
                            <tr style = "background-color: #fff">
                                <td style = "padding: 10px 30px;">Aadhar Card</td>
                                <td><a href = "{{request.user.new.aadhar.url}}" target ="_blank">Aadhar Card</a></td>

                            </tr>
                            <tr style = "background-color:#FFE19A">
                                <td style = "padding: 10px 30px;">Pan Card</td>
                                <td><a href = "{{request.user.new.pan.url}}" target ="_blank">Pan Card</a></td>

                            </tr>
                            <tr style = "background-color: #fff">
                                <td style = "padding: 5px 30px;">Class 10th Certificate</td>
                                <td><a href = "{{request.user.new.high.url}}" target ="_blank">10th certificate</a></td>

                            </tr>
                            <tr style = "background-color:#FFE19A">
                                <td style = "padding: 10px 30px;">Class 12th Certificate</td>
                                <td><a href = "{{request.user.new.senior.url}}" target ="_blank">12th certificate</a></td>

                            </tr>
                            <tr style = "background-color: #fff">
                                <td style = "padding: 10px 30px;">Graduation Certificate</td>
                                <td><a href = "{{request.user.new.graduation.url}}" target ="_blank">Graduation Certificate</a></td>

                            </tr>
                            <tr style = "background-color:#FFE19A">
                                <td style = "padding: 10px 30px;">Post Graduation Certificate</td>
                                <td><a href = "{{request.user.new.masters.url}}" target ="_blank">Post Graduation</a></td>

                            </tr>
                            <tr style = "background-color: #fff">
                                <td style = "padding: 10px 30px;">PHD</td>
                                <td><a href = "{{request.user.new.phd.url}}" target ="_blank">PHD</a></td>

                            </tr>
                            <tr style = "background-color:#FFE19A">
                                <td style = "padding: 10px 30px;">College Acceptance Letter</td>
                                <td><a href = "{{request.user.new.college.url}}" target ="_blank">Acceptance letter</a></td>

                            </tr>
                        </table>
                          </div>
</div>

{% endblock %}