{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "./css/login.css" %}">
      
        <title>HR Automation</title>
</head>
<body>
    
     <div class="loginbox">
         
         <h1>Login Here</h1>
         <form method = "POST" action="">
             {% csrf_token %}
             <p>Username</p>
             <input type="text" name="username" placeholder="Enter Username">
             <p>E-mail</p>
             <input type="text" name="email" placeholder="Enter email">
             <p>Password</p>
             <input type="text" name="password" placeholder="Enter Password">
            
             <input class="submitbtn" type="submit" name="login" />
             <!-- <input type="submit" onclick="location.href=' ';" value="Log In" /> -->
            <a href = "{% url 'reset_password'%}"> Forgot Password</a><br>
            Don't have an account? <a href="{% url 'register'%}">Register Here!</a>
         </form>

     </div>

</body>

</html>




