{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "./css/temp.css" %}" type="text/css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-a11y="true"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <script type="text/javascript">
        function preventBack() {
            window.history.forward(); 
        }
          
        setTimeout("preventBack()", 0);
          
        window.onunload = function () { null };
    </script>
    <script type="text/javascript">
        window.onload = function() {
            
            let sidebar = document.querySelector(".sidebar");
            let sidebarBtn = document.querySelector(".sidebarBtn");
            sidebarBtn.onclick = function() {
                sidebar.classList.toggle("active");
                if(sidebar.classList.contains("active")){
                    sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
                }else
                    sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
            }

        }
    </script>
</head>
<body>


<div class="sidebar">
    <div class="logo-details">
        <i class='bx bx-user-circle'></i>
        <span class="logo_name">Employee Portal</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="{% url 'form_submitted'%}" class="active">
                <i class='bx bx-grid-alt' ></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{% url 'info'%}">
                <i class='bx bx-id-card' ></i>
                <span class="links_name">Validating Details</span>
            </a>
        </li>
        <li>
            <a href="{% url 'status'%}">
                <i class='bx bx-list-ul' ></i>
                <span class="links_name">Updates</span>
            </a>
        </li>
        <li>
            <a href="{% url 'home'%}">
                <i class='bx bx-home' ></i>
                <span class="links_name">Home</span>
            </a>
        </li>
        <li class="log_out">
            <a href="{% url 'logout'%}">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
            </a>
        </li>
    </ul>
</div>
<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <span class="dashboard">Dashboard</span>
        </div>
        <div class="profile-details">
            <img src="{% static 'images/user.png'%}" alt="">
            <span class="admin_name">{{request.user}}</span>
            <i class='bx bx-chevron-down' ></i>
        </div>
    </nav>
<div class="home-content">
    <div class="overview-boxes">


    <div class="s-b">
        <div class="r-s box">
            <div class="title">Upload Documents</div>
            <div class="s-d">
                <form method ="POST" action="" id="contact-form", enctype="multipart/form-data">
                {% csrf_token %}
                    <input type="hidden" name="contact_number">
                    <label>First Name</label>
                    <br>
                    {{form.fname}}
                    <br>
                    <br>
                    <label>Last Name</label>
                    <br>
                    {{form.lname}}
                    <br>
                    <br>
                    <label>Email</label>
                    <br>
                    {{form.email}}
                    <br>
                    <br>
                    <label>Phone Number</label>
                    <br>
                    {{form.mobile}}
                    <br>
                    <br>
                    <label>Address</label>
                    <br>
                    {{form.address}}
                    <br>
                    <br>
                    <div class="row">
                        <label>Registration Number</label>
                        <br>
                        {{form.rnumber}}
                        <br>
                        <br>
                        <div class="col-half">
                            <h4>Date of Birth</h4>
                            {{form.dob}}
                        </div>
                        <div class="col-half">
                            <h4>Gender</h4>
                            {{form.gender1}}
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <label>Aadhar Card Number</label>
                        <br>
                        {{form.aadharn}}
                        <br>
                        <br>
                        <label>PAN Number</label>
                        <br>
                        {{form.pann}}
                    </div>
                    <br>
                    <div class="row">
                        <h4>Upload your documents of Aadhar Card, PAN Card, 10th Certificate, 12th Certificate, Graduation & Post Certificate, PHD Certificate and college acceptance letter in pdf format.</h4>
                        <br>
                        <label>Aadhar Card</label>
                        <br>
                        {{form.aadhar}}
                        <br>
                        <br>
                        <label>PAN Card</label>
                        {{form.pan}}
                        <br>
                        <br>
                        <label>10th certificate</label>
                        {{form.high}}
                        <br>
                        <br>
                        <label>12th Certificate</label>
                        {{form.senior}}
                        <br>
                        <br>
                        <label>Graduation Certificate</label>
                        {{form.graduation}}
                        <br>
                        <br>
                        <label>Post Graduation Certificate</label>
                        {{form.masters}}
                        <br>
                        <br>
                        <label>PHD Certificate</label>
                        {{form.phd}}
                        <br>
                        <br>
                        <label>College Acceptance Letter</label>
                        {{form.college}}
                    </div>
                    <br>
                    <br>
                    <div class = "row">
                    </div>
                    <div class="row">
                    <a href = "{% url 'form_submitted'%}"><input type="submit"></a>
                    </div>
                </form>
                </div>


    </div>
</div>
    </div>
    </section>
</body>
</html>
